@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora&family=Montserrat&display=swap");

:root {
  --font-color: #fff;
  --background: #181719;
  --crimson--font: "Crimson Pro", serif;
  --lora-font: "Lora", serif;
  --montserrat-font: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100svh;
  background-color: var(--background);
}

/* body-container */
.body-container {
  margin: 1.1em;
}

/* navbar */
.header {
  color: var(--font-color);
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__title {
  font-family: var(--crimson--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 0.5em;
}

.desktop {
  display: none;
}

.nav__menu {
  font-family: var(--montserrat-font);
}

.material-symbols-outlined {
  cursor: pointer;
  font-size: 38px;
}

/* mobile menubar show when click*/
.close-menu {
  display: none;
}
.mobile {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background);
  overflow-y: hidden;
  transition: 0.5s;
}

.nav__menu {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.nav__item {
  color: #fff;
  font-family: var(--montserrat-font);
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.nav__item:hover,
.nav__item:focus {
  color: #f1f1f1;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}

.mobile {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .mobile {
    overflow-y: auto;
  }
  .mobile {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* interior data */
.interior {
  color: white;
}

.interior__title {
  font-family: var(--lora-font);
  font-size: 36px;
  font-weight: 500;
  margin: 1em auto 0.5em;
}

.interior__description {
  width: 250px;
  font-family: var(--montserrat-font);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.button {
  color: #fff;
  font-family: var(--montserrat-font);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.button .material-symbols-outlined {
  font-size: 24px;
}

/* interior image */
.interior__bg-img {
  width: 100%;
}

.interior__pf-img {
  width: 42px;
  height: 36px;
  border-radius: 50%;
}

.nested__data-img {
  font-family: var(--montserrat-font);
  background-color: var(--background);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 138px;
  padding: 15px;

  position: relative;
  bottom: 60px;
  left: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nested__data-img > div {
  grid-column: 1/3;
  display: flex;
  gap: 16px;
}

.nested-img__title {
  font-size: 12px;
  font-weight: 500;
}

.nested-img__subtitle {
  color: #828282;
  font-size: 10px;
  font-weight: 500;
}

.nested-img__description {
  font-family: var(--lora-font);
  font-size: 18px;
  font-weight: 400;
  width: 210px;
}

/* footer */
.footer {
  text-align: center;
  color: #a9a9a9;
  font-family: var(--montserrat-font);
  font-size: 14px;
  font-weight: 500;
  margin-top: 150px;
  padding-bottom: 24px;
}

.footer span {
  text-decoration: underline;
  font-weight: 700;
}

/* LAPTOP ABOVE SCREEN SIZE */

/* desktop navigation */
@media screen and (min-width: 1024px) {
  .body-container {
    margin: 2em;
  }

  .close-menu,
  .open-menu,
  .mobile {
    display: none !important;
  }

  .nav__title {
    visibility: visible !important;
    align-self: center;
  }

  .desktop {
    display: block;
  }
  
  .desktop .nav__menu {
    display: flex;
    margin-top: 0;
    gap: 5em;
  }

  /* main interior */
  .main {
    margin-top: 100px;
  }

  .interior__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .interior__title {
    font-size: 48px;
    font-weight: 500;
  }

  .interior__description {
    width: 410px;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 48px;
  }

  .interior__bg-img {
    width: 100%;
  }

  .button {
    font-size: 18px;
  }

  .nested__data-img {
    left: 50%;
  }
}
