/* import */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* reset */
*, *:before, *:after{
    box-sizing: border-box;
    margin:0;
    padding:0
}

.title-section{
    margin:71px 85px 38px 12px;
}
.title-section h1{
    color:#000;
    font-family: 'PT Serif', serif;
    font-size:36px;
    font-style:normal;
    font-weight:700;
    line-height: normal;
    letter-spacing: -1.62px;
}
